.App {
  text-align: center;
}

.App-header {
  background-color: #b6b6b6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* homepage */
#react-csv-reader-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0%;
  height: 100%;
  width: 100%;
}

.csv-input {
width: 80%;  
height: 50px;
border-radius: 10px;
border: #fdfdfd dotted;
background-color: #b6b6b6;
color: #696969;
font-size: 25px;
text-align: center;
top: 100px;
position: absolute;
}

.csv-downloader {
  margin: 20px 0;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: dimgrey;
  color: #fdfdfd;
  cursor: pointer;
  box-shadow: 0 0 0 1px #888888;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: none;
}

.csv-input, .csv-downloader, .sample-downloader {
  z-index: 1;
}

/* Flip switch */
.switch-background{
  position: absolute;
  left: 0;
  top: 10px;
  margin-left: 23px;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 24%);
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: none;
  padding: 0;
}

.switch-background .switch-off {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin: 0 auto 0 3px;
  border: none;
  transition: ease .5s;
  background-color: #9e9e9e;
  box-shadow: none;
}

.switch-background .switch-on {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin: 0 0 0 32px;
  border: none;
  transition: ease .5s;
  background-color: #9e9e9e;
  box-shadow: none;
}

.on {
  background-color: #fdfdfd;
  z-index: 2;
}

.off {
  background-color: #cccccc;
  z-index: 2;
}

/* number of challenge */
.switch-on, .switch-off {
  position: relative;
}

.switch-on p, .switch-off p {
  position: absolute;
  top: -7.5px;
  left: 8.5px;

}

.flip-switch .label {
  position: absolute;
  top: 0;
  left: 100px;
  color: #fdfdfd;
}