.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#react-csv-reader-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0%;
  height: 100%;
  width: 100%;
}

.csv-input {
width: 80%;  
height: 50px;
border-radius: 10px;
border: aqua dotted;
background-color: #282c34;
color: white;
font-size: 25px;
text-align: center;
top: 100px;
position: absolute;
}

.csv-downloader {
  margin: 20px 0;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: dimgrey;
  color: #fdfdfd;
  cursor: pointer;
  box-shadow: 0 0 0 1px #888888;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: none;
}

.csv-input, .csv-downloader, .sample-downloader {
  z-index: 1;
}

.sample-downloader {
  color: aqua;
}

